{% extends 'AdminSettingsBundle::base.html.twig' %}

{% block adminHeading -%}Listado de productos{% endblock %}
{% block admin %}
<div class="table-responsive" >
<form action="" method="post">
            <label>Categoria:<select name="category">
                <option value=""></option>
                {% for item in allCategories %}
                    <option value='{{item.id}}'>{{item.name}}</option> 
                {% endfor %}
                
            </select></label>
            <label>Subcategoria:<select name="subcategory">
                <option value=""></option>
                {% for item in subcategories %}
                    <option value='{{item.id}}'>{{item.name}}</option> 
                {% endfor %}
                
            </select></label>

            <label>Orden:<select name="order">
                <option value=""></option>
                <option value="ASC">Ascendente</option>
                <option value="DESC">Descente</option>

            </select>
            </label> 
            <label>Número de productos:
            <select name="num">
                <option value=""></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>

            </select>

            </label>

            <input type="submit" value='filtrar' class="btn btn-primary" />

        </form>
<table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Imágen</th>
                <th>Nombre</th>
                <th>Nombre url</th>
                <th>Subcategoria</th>
                <th>Ean13</th>
                <th>Descripcón</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td><img  data-src="{{asset('uploads/'~entity.image.path)}}" src="{{asset('uploads/'~entity.image.path)}}" alt="{{entity.name}}"></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.slug }}</td>
                <td>{{ entity.subcategory.name }}</td>
                <td>{{ entity.ean13 }}</td>
                <td>{{ entity.description }}</td>
                <td>
                
                    <a class='btn btn-default' href="{{ path('product_show', { 'id': entity.id }) }}">Ver</a>
                
                    <a class='btn btn-default' href="{{ path('product_edit', { 'id': entity.id }) }}">Editar</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
       {{ knp_pagination_render(entities) }}
    </div>
    <p><a class="btn btn-default" href="{{ path('product_new') }}">Nuevo producto</a></p>
</div>
{% endblock %}

