{% extends 'AdminSettingsBundle::layout.html.twig' %}

{% block adminHeading -%}Producto{% endblock %}
{% block admin %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Imágen</th>
                <td> </td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Subcategoryid</th>
                <td>{{ entity.subcategoryId }}</td>
            </tr>
            <tr>
                <th>Ean13</th>
                <td>{{ entity.ean13 }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{% debug ["1","2"] %}</td>
            </tr>
        </tbody>
    </table>

        
        <a class="btn btn-default" href="{{ path('product') }}">
            Volver a la lista
        </a>
    
        <a class="btn btn-default" href="{{ path('product_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    {{ form(delete_form) }}

{% endblock %}
