{% extends 'AdminSettingsBundle::base.html.twig' %}

{% block adminHeading -%}Producto{% endblock %}
{% block admin %}    
<div class='thumbnail'><img width='200' height="300" data-src="{{asset('uploads/'~entity.image.path)}}" src="{{asset('uploads/'~entity.image.path)}}" alt="{{entity.name}}"></div>
<div class="table-responsive" >
<table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Ean13</th>
                <td>{{ entity.ean13 }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Subcategoria</th>
                <td>{{ entity.subcategory.name }}</td>
            </tr>
        </tbody>
    </table>

        
        <a class="btn btn-default" href="{{ path('product') }}">
            Volver a la lista
        </a>
    
        <a class="btn btn-default" href="{{ path('product_edit', { 'id': entity.id }) }}">
            Editar
        </a>
        <p>
        {{ form(delete_form) }}</p>
</div>


{% endblock %}
