<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Proyecto Imagina formacion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">

    <!-- Styles -->
    <link href="{{ asset('bundles/assets/css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/assets/css/responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/assets/css/style.css') }}" rel="stylesheet">

    <script type="text/javascript" src="{{ asset('bundles/assets/js/buttons.js') }}"></script>

  <link href="{{ asset('bundles/assets/css/buttons.css" type="text/css') }}" rel="stylesheet">
</head>