{% import "macros.html" as macros %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}{% endblock %}</title>
         <link href="{{ asset('bundles/assets/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
         <link href="{{ asset('bundles/assets/css/bootstrap-theme.css') }}" rel="stylesheet" type="text/css" media="all" />
         <link href="{{ asset('bundles/assets/css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
        {% block head %}{% endblock %}
    </head>
    <body>

    <div class="container">
      {% include '::header.html.twig' %}
      
      {% if warning is defined %}
       {{macros.warning(warning)}}
      {% endif %}
     
      <div class="content row">
        {% block content %} {% endblock %}
      </div>

      {% include '::footer.html.twig' %}
    </div>

{# DEBUGING VARS #}       
{% if debug_var  is defined %}
<pre>{% debug debug_var %}</pre>
{% else %}
<h4>DEBUG OFF</h4>
{% endif %}

        <script src="{{ asset('bundles/assets/js/jquery.js') }}"></script>
        <script src="{{ asset('bundles/assets/js/bootstrap.js') }}"></script>
        <script src="{{ asset('bundles/assets/js/holder.js') }}"></script>
        {% block scripts %}{% endblock %}
        
    </body>
</html>


            
          