{% extends 'AdminSettingsBundle::base.html.twig' %}

{% block adminHeading -%}Listado subcategorias{% endblock %}
{% block admin %}
<div class="table-responsive" >
<table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Imágen</th>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Descripción</th>
                <th>Slug</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('subcategory_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                
                {%if entity.image %}

                <img  data-src="{{asset('uploads/'~entity.image.path)}}" src="{{asset('uploads/'~entity.image.path)}}" alt="{{entity.image.path}}">

                {%else%}
                
                <p>No-image</p>
                
                {% endif%}
                </td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.category.name }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.slug }}</td>
                <td>
                
                    <a class="btn btn-default" href="{{ path('subcategory_show', { 'id': entity.id }) }}">Ver</a>
                    
                    <a class="btn btn-default" href="{{ path('subcategory_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<p><a class="btn btn-default"  href="{{ path('subcategory_new') }}">Nueva subcategoria</a></p>
</div>
{% endblock %}
