{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Symfony - UPLOAD FILES" %}

{% block content %}
<form enctype="multipart/form-data" action="{{ path('admin_img_save') }}" method="post" name="form">

     {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.file) }}

        {{ form_rest(form) }}

</form>
{% debug file %}
{% endblock %}



