{# VARS =====#}
{% set allCategories = functions.findAllCategories() %}
{% set this_User = app.security.getToken().getUser() %}
{#===========#}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Administración animal chollo</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/assets/css/bootstrap.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/assets/css/dashboard.css')}}" rel="stylesheet">
    <style type="text/css" media="screen">table img{ width: 100px; height: 100px;}
    
    </style>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">MENU</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ADMIN ANIMAL CHOLLO</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Nuevo usuario</a></li>
            <li><a href="#">Salir &nbsp;</a></li>
          </ul>
          
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{{path('category')}}" >Categorias</a></li>
            <li><a href="{{path('subcategory')}}" >Subcategorias</a></li>
            <li><a href="{{path('product')}}">Productos</a></li>
            <li><a href="{{path('user')}}">Usuarios</a></li>
          </ul>
          <hr>
          <ul class="nav nav-sidebar">
            <li><a href="{{path('home')}}"><h3>WEBSITE</h3></a></li>
           {% for item in allCategories %}
                <li><a href='{{path( 'animales', {'slug':item.slug})}}'>{{item.name}}</a></li> 
           {% endfor %}
          </ul>

          
          
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Hola {{this_User.getName}}:{{this_User.getEmail}}</h1>

          <div class="row placeholders">
            
            <!--<div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            -->

          </div>

          <h2 class="sub-header">
             {% block adminHeading %}{% endblock %}
          </h2>

          <div class="table-responsive">

            {% block admin %}{% endblock %}
            {# DEBUGING VARS #}  
{% if debug_var  is defined %}
<pre>{% debug debug_var %}</pre>
{% endif %}
          </div>

        </div>
      </div>
    </div>


    
    <script src="{{ asset('bundles/assets/js/jquery.js') }}"></script>
	  <script src="{{ asset('bundles/assets/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/assets/js/docs.js') }}"></script>
    <script>
$(document).ready(function (){

	$("form div").addClass('form-group');
	$("input[type='text'], input[type='email'],input[type='password'],input[type='number'],  select,textarea").addClass('form-control');
	$("form button[type='submit']").addClass('btn btn-primary');
	$("form input[type='text']").addClass('form-control');
});	

</script>
    {% block script %}{% endblock %}
  </body>
</html>
