{% extends '::base.html.twig' %}
{% block title "Symfony - UPLOAD FILES" %}

{% block content %}
<form enctype="multipart/form-data" action="{{ path('img_save') }}" method="post" name="form">

     {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.file) }}

        {{ form_rest(form) }}

</form>
{% endblock %}
