{% extends '::base.html.twig' %}
{% block content -%}


<div class="jumbotron">
        <h1>CATÁLOGO: <small>{{products[0][0].name|upper}}</small></h1>
        <p class="lead">{{products[0][0].description}}</p>
        <p><a class="btn btn-lg btn-success" href="{{path('animales',{'slug':products[0].slug})}}" role="button">Ver más en {{products[0].name}}</a></p>
      </div>

      {% for prod in products[0][0].products%}

        <div class="col-sm-4 col-md-4 text-center">
          <div class="thumb thumbnail">
            <img data-src="{{asset('uploads/'~prod.image.path)}}" src="{{asset('uploads/'~prod.image.path)}}" alt="...">
            <div class="caption">
              <h3>{{prod.name}}</h3>
              <p>
                <a href="{{path('producto', { 'slug': prod.slug, 'id' : prod.id})}}" class="btn btn-primary" role="button">Ver</a>
                <a href="#" class="btn btn-default" role="button">Botón</a>
              </p>
            </div>
          </div>
        </div>
      
      {% endfor %}
{% endblock %}
