{% extends '::base.html.twig' %}
{% block content -%}
<div class="jumbotron">
        <h1>CATÁLOGO: <small>{{products[0][0].name|upper}}</small></h1>
        <p class="lead">{{products[0][0].description}}</p>
        <p><a class="btn btn-lg btn-success" href="{{path('animales',{'slug':products[0].slug})}}" role="button">Ver más en {{products[0].name}}</a></p>
      </div>

      {% for prod in products[0][0].products%}
      
      <div class="col-md-4 text-center">
      
      	<h3>{{prod.name}}</h3>
      	<a href="#" class="thumbnail">
      		<img data-src="holder.js/100%x180" alt="...">
    	</a>
      	<p>{{prod.description}}</p>
      	<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
      {% endfor %}
{% endblock %}
