{% extends '::base.html.twig' %}
{% block content -%}
<div class="jumbotron">
        <h1>CATÁLOGO: <small>{{products[0][0].name|upper}}</small></h1>
        <p class="lead">{{products[0][0].description}}</p>
        <p><a class="btn btn-lg btn-success" href="{{path('animales',{'slug':products[0].slug})}}" role="button">Ver más en {{products[0].name}}</a></p>
      </div>

      {% for prod in products[0][0].products%}
      
      <div class="col-md-4 text-center">
      
      	<h3>{{prod.name}}</h3>
      	<a href="#" class="thumbnail">
      		<img data-src="holder.js/100%x180" alt="...">
    	</a>
      	<p>{{prod.description}}</p>
      	<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
      {% endfor %}
{% endblock %}
{#array(1) {
  [0]=>
  array(4) {
    [0]=>
    array(6) 
    {
      ["id"]=>
      int(1)
      ["name"]=>
      string(18) "Acuarios y Muebles"
      ["categoryId"]=>
      int(41)
      ["description"]=>
      string(48) "Aucarios, peceras, mesas y muebles para acuarios"
      ["slug"]=>
      string(18) "acuarios-y-muebles"
      ["products"]=>
      array(1) {
        [0]=>
        array(7) {
          ["id"]=>
          int(1)
          ["name"]=>
          string(14) "Acurio cristal"
          ["slug"]=>
          string(15) "acuario-cristal"
          ["subcategoryId"]=>
          int(1)
          ["ean13"]=>
          int(1234587)
          ["description"]=>
          string(26) "Acuario cristal, 80 litros"
          ["img"]=>
          string(10) "imagen.png"
        }
      }
    }
    ["name"]=>
    string(13) "Acuariofília"
    ["slug"]=>
    string(12) "acuariofilia"
    ["number_products"]=>
    string(1) "2"
  }
}
#}
